# Relatório IV

# Seleção de Frequências

In [1]:
import pandas as pd

In [2]:
#importa os dados que tinha filtrado antes
dados = pd.read_csv('dados/aluguel_residenciais.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

## Selecione somente os imóveis classificados com tipo 'Apartamento'.

#### Para isso vamos selecionar apenas o nome 'Apartamento' e automaticamente ele coloca como True

Uma outra forma é usar o <font color ="FF8000"> isin </font>. Mas antes precisa passar uma lista para ele com o nome da variável a ser dada como verdadeira:


apartamento = ['Apartamento']
 
selecao = dados ['Tipo'].isin(apartamento)
selecao

In [3]:
selecao = dados ['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [4]:
n1 = dados[selecao].shape[0]
n1

19532

## Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

<font color ="FF3333">O operador | significa OU

<font color ="FF3333">Para mais de 1 termo precisa colocar () para ele diferenciar

In [5]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

In [6]:
n2 = dados[selecao].shape[0]
n2

2212

## Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

<font color ="FF3333"> O operador & significa E </font>

In [7]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)

In [8]:
n3 = dados[selecao].shape[0]
n3

8719

## Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [9]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)

In [10]:
n4 = dados[selecao].shape[0]
n4

41

Edit - Fin and Replace

In [11]:
print("Numero de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Numero de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(n2))
print("Numero de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Numero de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

Numero de imóveis classificados com tipo 'Apartamento' -> 19532
Numero de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 2212
Numero de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Numero de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41